@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --primary-dark: 220 17% 17%; /* #222831 */
    --secondary-dark: 217 14% 25%; /* #393E46 */
    --primary-light: 36 12% 53%; /* #948979 */
    --secondary-light: 35 38% 80%; /* #DFD0B8 */

    /* Light theme defaults */
    --background: var(--secondary-light);
    --foreground: var(--primary-dark);
    
    --muted: var(--primary-light);
    --muted-foreground: var(--primary-dark);
    
    --popover: var(--secondary-light);
    --popover-foreground: var(--primary-dark);
    
    --card: var(--secondary-light);
    --card-foreground: var(--primary-dark);
    
    --border: var(--primary-light);
    --input: var(--primary-light);
    
    --primary: var(--primary-dark);
    --primary-foreground: var(--secondary-light);
    
    --secondary: var(--primary-light);
    --secondary-foreground: var(--primary-dark);
    
    --accent: var(--primary-light);
    --accent-foreground: var(--primary-dark);
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    
    --ring: var(--primary-light);
    
    --radius: 0.5rem;
  }
 
  .dark {
    --background: var(--primary-dark);
    --foreground: var(--secondary-light);
    
    --muted: var(--secondary-dark);
    --muted-foreground: var(--secondary-light);
    
    --popover: var(--primary-dark);
    --popover-foreground: var(--secondary-light);
    
    --card: var(--primary-dark);
    --card-foreground: var(--secondary-light);
    
    --border: var(--secondary-dark);
    --input: var(--secondary-dark);
    
    --primary: var(--secondary-light);
    --primary-foreground: var(--primary-dark);
    
    --secondary: var(--secondary-dark);
    --secondary-foreground: var(--secondary-light);
    
    --accent: var(--secondary-dark);
    --accent-foreground: var(--secondary-light);
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    
    --ring: var(--secondary-dark);
  }
}
 
@layer base {
  * {
    @apply border-0;
  }
  body {
    @apply bg-background text-foreground;
  }
}