@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    /* Theme colors */
    --navy: 212 67% 19%; /* #102E50 */
    --yellow: 43 89% 66%; /* #F5C45E */
    --orange: 27 78% 59%; /* #E78B48 */
    --red: 8 64% 46%; /* #BE3D2A */

    /* Light theme defaults */
    --background: 0 0% 100%;
    --foreground: var(--navy);
    
    --muted: 210 20% 98%;
    --muted-foreground: var(--navy);
    
    --popover: 0 0% 100%;
    --popover-foreground: var(--navy);
    
    --card: 0 0% 100%;
    --card-foreground: var(--navy);
    
    --border: var(--yellow);
    --input: var(--yellow);
    
    --primary: var(--navy);
    --primary-foreground: var(--yellow);
    
    --secondary: var(--yellow);
    --secondary-foreground: var(--navy);
    
    --accent: var(--orange);
    --accent-foreground: 0 0% 100%;
    
    --destructive: var(--red);
    --destructive-foreground: 0 0% 100%;
    
    --ring: var(--yellow);
    
    --radius: 0.5rem;
  }
 
  .dark {
    --background: var(--navy);
    --foreground: var(--yellow);
    
    --muted: 217 32.6% 17.5%;
    --muted-foreground: var(--yellow);
    
    --popover: var(--navy);
    --popover-foreground: var(--yellow);
    
    --card: var(--navy);
    --card-foreground: var(--yellow);
    
    --border: var(--orange);
    --input: var(--orange);
    
    --primary: var(--yellow);
    --primary-foreground: var(--navy);
    
    --secondary: var(--orange);
    --secondary-foreground: 0 0% 100%;
    
    --accent: var(--orange);
    --accent-foreground: 0 0% 100%;
    
    --destructive: var(--red);
    --destructive-foreground: 0 0% 100%;
    
    --ring: var(--orange);
  }
}
 
@layer base {
  * {
    @apply border-0;
  }
  body {
    @apply bg-background text-foreground;
  }
}